@charset "utf-8";
@-o-viewport {
    width: 480px;
}

@viewport {
    width: 480px;
}

@font-face {
    font-family: 'Panton';
    src: local('Panton'), url(../fonts/Panton-Regular.woff);
}

@font-face {
    font-family: 'Panton';
    font-weight: bold;
    src: local('Panton Bold'), url(../fonts/Panton-Bold.woff);
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    background: #fff;
    min-width: 480px;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%
}

body,
textarea,
input,
button {
    font: 16px/1.2 'Panton', calibri, arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

.wrap {
    min-width: 450px;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    clear: both;
}

.wrap:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.esc {
    clear: both;
    min-width: 480px;
    position: relative;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.alignr,
.justifyright {
    text-align: right;
}

.alignl,
.justifyleft {
    text-align: left;
}

.alignc {
    text-align: center;
}

.alignj,
.justifyfull {
    text-align: justify;
}

.nobr {
    white-space: nowrap;
}

.just {
    display: inline-block;
    width: 90%;
    height: 1px;
    line-height: 0;
}

.white {
    color: #fff;
}

.gray {
    color: #878787;
}

.green {
    color: #679A01;
}

.orange {
    color: #FE6634;
}

.black {
    color: #000;
}

.red {
    color: #E2000F;
}

.dred {
    color: #99121B;
}

.blue {
    color: #2F6291;
}

.bold {
    font-weight: bold;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.f34 {
    font-size: 34px;
}

.f36 {
    font-size: 36px;
}

.f38 {
    font-size: 38px;
}

.f40 {
    font-size: 40px;
}

.both {
    clear: both;
}

.over {
    overflow: hidden;
}

.hidden {
    display: none;
}

.viblock {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.18;
    white-space: normal;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    line-height: 1.2;
    border: 0;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

:focus {
    outline: none;
}

#main {
    position: relative;
    height: auto!important;
    height: 100%;
    background: #fff;
}


/*#empty{height:200px;clear:both;}
#footer{height:200px;padding:32px 0 0;line-height:24px;overflow:hidden;margin-top:-200px;background:#fff;z-index:1;box-sizing:border-box;}*/

.bread {
    padding: 0 0 15px;
    font-size: 12px;
}

.breadcrumbs,
.breadcrumbs ul,
.breadcrumbs li {
    display: inline;
}

.breadcrumbs li:after {
    content: " » ";
}


/*слили контента*/

.text {
    font-size: 16px;
    line-height: 1.63;
    display: flex;
    flex-direction: column;
    color: #575656;
}

.text h1,
.text h2,
.text h3,
.text h4 {
    min-width: 150px;
}

.text h1 {
    font-size: 24px;
    padding: 0 0 15px;
}

.text h2 {
    font-size: 22px;
    padding: 0 0 15px;
}

.text h3 {
    font-size: 20px;
    padding: 0 0 15px;
}

.text h4 {
    font-size: 16px;
    padding: 0 0 15px;
}

.text p {
    margin: 0 0 15px;
    min-width: 150px;
}

.text ul,
.text ol {
    padding: 0 0 15px 15px;
    min-width: 200px;
}

.text li {
    list-style: none;
    position: relative;
    margin: 0 0 10px;
}

.text li:last-child {
    margin: 0;
}

.text li:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    top: 10px;
    left: -15px;
    background: #3f63ad;
}

.text table {
    max-width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.text td,
.text th {
    padding: 1px 8px;
    border: 1px solid #DFDFDF;
}

.text table p {
    padding: 0;
    min-width: none;
}

.text tr:nth-child(odd) {
    background: #eee;
}

.text a {
    color: #7c90a0;
    transition: .2s;
}

.text a:hover {
    color: #3f63ad;
}

.text img {
    max-width: 100%;
    /*border:1px solid #DFDFDF;*/
    box-sizing: border-box;
}

.text .justifyright {
    text-align: right;
}

.text .justifyleft {
    text-align: left;
}

.text .justifyfull {
    text-align: justify;
}

.text img[style*="float: right;"],
.text figure.align-right {
    float: right;
    margin: 4px 0 12px 32px!important;
    max-width: 50%;
}

.text img[style*="float: left;"],
.text figure.align-left {
    float: left;
    margin: 4px 32px 12px 0!important;
    max-width: 50%;
}

.text figure {
    display: inline-block;
    margin: 4px 0 12px;
    max-width: 100%;
}

.text figcaption {
    font-size: 14px;
    text-align: center;
    padding: 2px 0 0;
}

.text img[style*="display: block;"],
.text figure.align-center {
    display: block;
    clear: both;
    text-align: center;
}

.text hr {
    border: 0;
    border-top: solid 1px #eee;
    margin: 0 0 15px;
}

.scrolled {
    overflow-x: auto;
}

.text iframe {
    max-width: 100%;
    border: 0;
}


/*элементы управления*/

.prev,
.next {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32px;
    background: url(../images/prev2.png)no-repeat 50%;
    cursor: pointer;
}

.disabled .prev,
.disabled .next {
    cursor: default;
}

.next {
    left: auto;
    right: 0;
    background-image: url(../images/next2.png);
}

.nav {
    display: block;
    position: absolute;
    bottom: 0;
    left: 32px;
    right: 32px;
    text-align: center;
}

.nav span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    background: #fff;
}

.nav span.current {
    background: #3f63ad;
}

.nav span:hover {
    background: #ccc;
}

.disabled .nav span,
.slider .nav span.current {
    cursor: default;
}


/*просмотр в стиле фанси*/

#fngh6 {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    z-index: 98;
    overflow: auto;
}

#fngh7 {
    display: inline-block;
    vertical-align: middle;
    border: 9px solid #fff;
    border-radius: 3px;
    max-width: 96%;
    max-height: 96%;
    background: #fff;
    transition: .2s;
    position: relative;
}

#cls,
#nxt,
#prv {
    display: block;
    position: absolute;
    cursor: pointer;
}

#prv {
    background: url(../images/fancy_nav_left.png)no-repeat 50% 50%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    opacity: 0;
    transition: .2s;
}

#nxt {
    background: url(../images/fancy_nav_right.png)no-repeat 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    opacity: 0;
    transition: .2s;
}

#fngh7:hover #prv,
#fngh7:hover #nxt {
    opacity: .5;
}

#fngh7:hover #prv:hover,
#fngh7:hover #nxt:hover {
    opacity: 1;
}

#fngh6 img {
    display: block;
    max-width: 92vw;
    max-height: 92vh;
}

.form label {
    display: block;
}

.form input,
.form select,
.form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 8px 12px;
    background: #fff;
    text-align: left;
    line-height: 1.2;
    font-size: 14px;
}

.form textarea {
    resize: vertical;
    min-height: 72px;
}

.requiredlist span {
    font-weight: bold;
}

.alerts {
    position: fixed;
    top: 15px;
    right: 15px;
    background: rgba(204, 0, 55, .6) url(close1.png)no-repeat 100% 0;
    border: 8px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    color: #fff;
    padding: 16px 4px 10px;
    z-index: 6;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-60px);
    animation: alerts 2s linear forwards;
}

.alerts.success {
    background-color: rgba(0, 170, 187, .6);
}

@keyframes alerts {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(0);
    }
    60% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 0;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 260px;
}


/*система сеток*/

.row {
    margin: 0 -15px;
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: auto;
    float: none;
    clear: both;
}

a {
    cursor: pointer !important;
}


/*чуть поменьше обычного экрана*/

@media (max-width:1200px) {
    .wrap {
        margin: 0 15px;
    }
    #empty {
        height: 0;
    }
    #footer {
        height: auto;
        margin: 0;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-12 {
        width: auto;
        float: none;
        clear: both;
    }
    .alignl-sm {
        text-align: left;
    }
    .alignr-sm {
        text-align: left;
    }
    .alignc-sm {
        text-align: left;
    }
    .hidden-sm {
        display: none;
    }
    .visible-sm {
        display: block;
    }
}


/*планшетики*/

@media (max-width:991px) {}


/*маленькие планшетики и большие телефончики*/

@media (max-width:767px) {
    .top_photo {
        flex-direction: column;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-12 {
        width: auto;
        float: none;
        clear: both;
    }
    .alignl-xs {
        text-align: left;
    }
    .alignr-xs {
        text-align: right;
    }
    .alignc-xs {
        text-align: center;
    }
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: block;
    }
    .fleft-xs {
        float: left;
    }
    .fnone-xs {
        float: none;
    }
}


/*телефончики*/

@media (max-width:480px) {
    @-ms-viewport {
        width: 480px;
    }
}

.imagesabout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.imagesabout img {
    width: 112px;
}

.proektimages {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.prod_photo {
    width: 400px;
}

.proektimages img {
    width: 50%;
}

.big_text {
    font-size: 19px;
    line-height: 120%;
}

.big_text strong {
    font-size: 20px;
}

.big_text p {
    margin: 10px 0 50px;
}

.img_p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.img_p img {
    width: revert-layer;
    max-width: 104px;
}

.img_p p {
    font-weight: 600;
}

.img_p_block {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.img_p_block .img_p {
    width: calc(50% - 15px);
    margin: 0;
}

.important {
    font-size: 20px;
    font-weight: 600;
}

.important strong {
    font-size: 22px;
}

.top_photo {
    display: flex;
}